ENV=dev
DEBUG=True
APP_NAME=CaroCorp API
APP_VERSION=0.1.0

DATABASE_URL=postgresql+psycopg2://caro:password@localhost:5433/CaroCorp
POSTGRES_DB=CaroCorp
POSTGRES_USER=caro
POSTGRES_PASSWORD=CHANGER_MOI

JWT_SECRET=CHANGER_CLE_JWT_MIN_32_CARACTERES
REDIS_PASSWORD=CHANGER_MOI
REDIS_URL=redis://:password@localhost:6380/0

CORS_ALLOWED_ORIGINS=http://localhost:3002
CORS_ALLOW_CREDENTIALS=True
